:root{
  --font-size: 16px;
}

table{
  border-collapse:collapse;
}

input[type="number"]{
  width       : 5em;
}

input,select,chkbox,b{
  font-size   : var(--font-size);
}
input{
/*
   width       : auto;
   width       : 100%;
*/
}

table td,th{
  font-size   : var(--font-size);
  border-style: solid;     /* line type     */
  padding     : 0.3em 1em; /* innder margin */
  text-align  : center;
/*     width       : 1%;  */
}
table th{
  color: white;
  background-color: #00552e;
  cursor: pointer;
}
table td{
  border-width: 0px 0px;   /* line width: horizontal, vertical */
  border-color: #00552e;   /* line color    */
}
table tr:nth-child(odd){  /*  zebra  */
  background:#AEFFBD;
}
table td:before{
  content: attr(th-lab);
}
table tr{
  border-width: 0.5px 0.5px;
  border-color: #00552e;   /* line color    */
  border-style: solid;     /* line type     */
}

#tab_tools table tr{
  background:#FFFFFF;
}
#tab_tools table th{
  color: white;
  background-color: #FF6E00;
}

#tab_settings table th{
  color: white;
  background-color: #0033CC;
}
#tab_settings table td{
  border-width: 1px 0px;   /* line width: horizontal, vertical */
  border-color: #0033CC;   /* line color    */
}
#tab_settings table tr:nth-child(odd){  /*  zebra  */
  background:#BAD3FF;
}

#tab_tools td{
  text-align    : left;
  vertical-align: top;
  background: #FFFFF0;
}

  /*  Don't work! Why?  */
td #sp_staged{
  background: #FF6E00;
}
